
<!DOCTYPE html>
<html lang="it">
  <head>
    <title>Log Application</title>

  </head>

  <body>
    <form action="/LogString" method="POST">
        <select name="format">
           <option value="JSON" > JSON</option>
           <option value="PLAIN"> PLAIN</option>
       </select>
     
       <select name="dest">
           <option value="LOGCOLLECTOR" > LOGCOLLECTOR</option>
           <option value="LOGGA"> LOGGA</option>
           <option value="FRODI" > FRODI</option>
       </select>
        <input type="text" name="nrow">
        <input type="submit" value="Logga!">
    </form>

  </body>

</html>

